name: Release

on:
  push:
    branches:
      - "main"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # обязательно, чтобы semantic-release видел историю git

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Run semantic-release
        uses: codfish/semantic-release-action@v4
        with:
          branches: |
            ["main"]
          tag_format: "v${version}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
